<ion-content>
    <ion-grid>
        <ion-row class="ion-padding">
            <ion-col>
                <div class="grid-top-title">
                    <img class="img-position" src="assets/images/logo.svg" alt="logo" />
                    <ion-card class="card-size">
                        <p>SCORE</p>
                        <h1>12</h1>
                    </ion-card>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="ion-padding">
            <ion-col>
                <div class="grid-title">
                    <ion-title class="player-head">You Picked</ion-title>
                    <ion-title class="comp-head">The House Picked</ion-title>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="ion-padding">
            <ion-col>
                <div>
                    <img src="assets/images/icon-paper.svg" />
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>